name: Format

on:
  - push
  - pull_request

jobs:
  dartfmt:
    runs-on: ubuntu-latest

    container:
      image: google/dart:latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Run format
        run: dartfmt --dry-run --set-exit-if-changed .

  import_sorter:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - uses: subosito/flutter-action@v1.3.2
        with:
          channel: 'beta'
      - name: Run import_sorter
        run: |
          flutter pub get
          flutter pub run import_sorter:main
          git checkout pubspec.lock
          git diff --exit-code
